body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 882px;
  margin: 0;
}
.main {
  font-family: "Noto Sans KR", sans-serif;
  position: relative;
  border-radius: 5%;
  border: 3px solid #ec995c;
  width: 40%;
  height: 45%;
  box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(187, 185, 185) inset;
}
.subname {
  font-family: "Noto Sans KR", sans-serif;
  margin-top: 10%;

  text-align: center;
}
.name {
  font-weight: bolder;
  font-family: "Noto Sans KR", sans-serif;
  font-size: xx-large;
  text-align: center;
}
.information {
  font-family: "Noto Sans KR", sans-serif;
}
.btn {
  font-family: "Noto Sans KR", sans-serif;
  text-decoration: none;
  font-size: 2rem;
  color: white;
  padding: 10px 0;
  margin: 10% 25%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  transition: all 0.1s;
  text-shadow: 0px -2px rgba(0, 0, 0, 0.44);
}
.btn:active {
  transform: translateY(3px);
}
.btn.blue {
  background-color: rgba(247, 151, 7, 0.8);
  border-bottom: 5px solid #d99360;
}
.btn.blue:active {
  border-bottom: 2px solid #d99360;
}
p {
  line-height: 1.3;
  text-align: center;
  font-size: 14px;
}
@media (max-width: 500px) {
  body {
    margin: 4px 0;
  }
  .main {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  .btn {
    margin: 30% 20% 50% 20%;
  }
  .subname {
    margin-top: 30%;
  }
  p {
    font-size: 11px;
  }
}
